doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
  body
    ul#nav
      li
        a(href='http://www.divcss5.com/') Public Chat    
      li
        a(href='/') Log Out

