doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/js/navigator.js')
  body
    ul#nav
      li
        a(href='http://www.divcss5.com/') Public Chat
      li
        h#changestatus(style='color:white; text-decoration: underline' onmouseover='showList()' onmouseout='hideList()') Change Status
        ul#statuslist(style='display:none')
          li
            h#OK OK
          li
            h#Help Help
      li
        a(href='/') Log Out

